@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Montserrat:wght@500&family=Rubik+Vinyl&family=Unbounded:wght@300&display=swap');

body {
    
    box-sizing: border-box;
    background-color: hsl(30, 38%, 92%);
    font-family: 'Fraunces', serif; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;

}
 
.main-page {
    flex-basis: 40%;
    margin-top: 5%;
    box-shadow: 5px 5px 8px #888888;
    border-radius: 10px;
}

.card {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /* flex-wrap: wrap; */
    width: 100%;
    background-color: hsl(0, 0%, 100%);
    margin: 0;
   
}

.image {
    flex-basis: 50%;
} 

.pictures {
    width: 100%; 
    height: 100%;
    object-fit: cover;
}



.description {
    flex-basis: 45%;
    background-color: hsl(0, 0%, 100%);
}

p:first-child {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
}

p {
    font-weight: lighter;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    line-height: 1.6;
}

.price {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.price h2 {
    margin-right: 20px;
    color: hsl(158, 36%, 37%);

}

.price p {
    font-weight: lighter;
    text-decoration: line-through;
}

.cart-btn {
    background-color:hsl(158, 36%, 37%);
    padding: 8px 6px;
    border-radius: 4px;
    margin: 0px 15px 20px 0px;
    display: flex;
    justify-content: center;

}

button {
    background: transparent;
    border: none;
    font-size: medium;
    color: hsl(0, 0%, 100%);
}

.cart-btn:hover {
    background-color: hsl(160, 71%, 21%);
}

/* responsive to mobile */
@media only screen and (max-width: 575px) {
    
    .main-page {
        flex-basis: 100%;  
    }

    .card {
        display: flex;
        flex-direction:column;
    }
    .description {
        margin-left: 5%;
    }


}